[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/g-hw/hugo-theme-nostyleplease
[submodule "themes/soho"]
	path = themes/soho
	url = https://github.com/alexandrevicenzi/soho.git
